<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="logo">        
            <img class="icon" src="../static/podcast.png" alt="icon" >
        </div>
        <div class="name">
            <h1>LovePod</h1>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Podcast</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <div class="container">
            <div class="inner_container">
                <div class="text_1">
                    <h1>New Episode Available Now</h1>
                </div>
                <div class="text_2">
                    <h5>Listen to the latest trends talk on our podcast</h5>
                </div>
                <div class="buttons">
                        <a href="../templates/login.html" class="btn_1">Login</a>
                        <a href="../templates/register.html" class="btn_2">Register</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>